* {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


header {
    background-color: #FF385D;
    padding-left: 20px;
    padding-right: 20px;
}

header h1 {
    font-family: 'Chivo', sans-serif;
    font-size: 48px;
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
}

header nav{
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    padding-left: 0;
    padding-bottom: 10px;
}

header nav ul a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px 0 0;
    font-family: 'Lato', sans-serif;
}

header nav a ul li:last-child{
    margin-right: 0;
  }

#rental-search-form {
    padding-top: 40px;
}

#rental-search-form h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#rental-search-form form {
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border: #FF385D solid 3px;
    padding: 20px;
    margin-top: 20px;
}

.form-item-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

input {
    width: 200px;
}

button {
    background-color: #FF385D;
    color: #fff;
    border: 0;
    padding: 15px;
    font-size: 20px;
}

#About {
    margin-top: 20px;
    background-color: #04A599;
}

#About h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
}

.about-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#About p {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 18px;
    width: 400px;
    display: flex;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
}

#ideas-section {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#ideas-section h1 {
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

#ideas-section .ideas-item, #ideas-section .ideas-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#ideas-section h2 {
    font-family: 'Lato', sans-serif;
    text-align: left;
}

#ideas-section img {
    margin-top: 10px;
    margin-bottom: 20px;
}

#host-section {
    background-color: #04A599;
    margin-top: 20x;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

#host-section h1{
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
    width: 300px;
}

.host-section-text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#host-section {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 40px;
}

#host-section p {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 450px;
}

#host-section ul{
    padding-bottom: 20px;
    width: 450px;
}

footer{
    color: #fff;
    background-color: #FF385D;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #rental-search-form form {
        padding-top: 20px;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: #FF385D solid 3px;
        padding: 20px;
        margin-top: 20px;
    }

    .form-item-container {
        display: flex;
        flex-direction: column;
    }

    .about-content {
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
        gap: 20px;
        align-items: center;
    }

    .about-image {
        flex: 1;
    }
    
    .about-paragraph {
        flex: 2;
    }

    #About p {
       width: 100%;
    }

    .ideas-content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: auto;
        justify-content: center;
    }

    .ideas-item {
        flex: 0 1 40%;
    }
    
    #host-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #host-section h1{
        width: 450px;
    }

    #host-section img {
        height: 400px;
    }
  }